@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,700");



*{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  font-family: 'Titillium Web', sans-serif;
  font-size: 100%;
}

p{
  color: #646464;
}

h1, h2, h3, h5, h6{
  font-weight: 700;
  color: #515151;
}
strong {
  font-weight: 700;
}

a{
  text-decoration: none;
}

footer {
  background-color: #ebebeb;
}
h1{
  font-size: 130%;
}
h2{
  font-size: 125%;
}
h3{
  font-size: 120%;
}
h4{
  font-size: 115%;
}
h5{
  font-size: 110%;
}
h6{
  font-size: 105%;
}

main .titulohome{
  display: none;
}

.row{
  max-width: 1004px;
  margin: 0 auto;
}
.row:after {
  display: block;
  height: 0;
  clear: both;
  content: "";
}

/* INICIO HEADER */

header{
  height: 120px;
  padding: 40px 0px 30px 0px;
}

header .logo img{
  border-right: 1px solid #000;

}

header nav ul li{
  display: inline-block;
}

header nav ul li a{
  display: block;
  padding: 0px 30px 56px 30px;
  text-align: center;
  color: #646464;
  margin-bottom: -50px;
}
header nav ul li a:hover{
  border-bottom: 4px solid red;
}
header .carrito {
  border: 2px solid #646464;
  width: 80px;
  height: 60px;
  border-radius: 40%;
  padding: 15px 23px;
  cursor: pointer;
}
header .carrito:hover{
  background-color: #646464;
  border: 0;
}

header .carrito:hover a{
  color: white;
}

header .carrito a {
  color: #646464;
  font-size: 24px;

}
header .logo, nav, .carrito {
  float: left;
}

header .carrito {
  float: right;
}

/* FIN HEADER */

.hero {
  height: 430px;
  background-image: url("../images/chica.jpg");
  background-size: cover;
}

/* INICIO MAIN PRODUCTOS*/

main .products h2 {
  text-align: center;
  margin: -20px auto 20px auto;
  max-width: 25%;
  background-color: white;

}
main .products hr{
  border-color: #fff;
  margin-top: 40px;
  max-width: 60%;

}

main .products article {
  border: 4px solid #ebebeb;
  width: 31%;
  float: left;
  margin-right: 20px;
  position: relative;
}

main .products h4 , main .products p {
  text-align: center;
}

main .products .precio {
  font-weight: 700;
  padding: 20px;
}

main .products .descuento {
  position: absolute;
  top: 25px;
  left: -4px;
  background-color: #fe0000;
  opacity: 0,6;
  color: white;
  font-weight: 700;
  padding: 10px 20px;

}
/* INICIO BRANDS */

main .brands {
  margin: 40px auto;

}

main .brands h2 {
  display:none;

}

main .brands ul {
  margin: 0px 1%;

}
main .brands .brand{
  float: left;
  border: 4px solid #ebebeb;
  margin: 0px 4.6% 0px 1%;
  margin-left: 6px;

}

main .brands .brand:last-child{
  margin-right: 2%;
}


/* INICIO FOOTER */

footer .footer_sup{
  padding: 50px 0px;

}

footer .footer_inf{
  border-top: 1px solid black;
  padding: 20px 0px;
}

footer a {
  color: #646464;
  font-weight: bold;
}

footer a:hover {
  color: red;
}

footer aside {
  float: left;
  padding: 10px 20px;

}

footer aside:nth-child(2){
  width: 50%;
}
footer aside h3 {
  padding-bottom: 20px;
}

footer aside ul li {
  line-height: 150%
}

footer aside ul {
  margin: 0px 0px 15px 0px;
}
footer .social li {
  display: inline-block;
  font-size: 25px;
  margin-left: 10px;
}

footer .social li a:hover{
  color: blue;
}
